@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url('@assets/fonts/iransans/IRANSansX-Regular.woff') format('woff');
}

@layer base {
  html {
    font-family: iransans, system-ui, sans-serif;
    @apply text-70 lg:text-100;
  }
}

@layer components {
  .btn {
    @apply focus:outline-none font-medium rounded-md text-sm h-14 lg:h-12 px-5 text-center transition-all duration-200 my-3;
    &:disabled {
      @apply bg-gray-500 cursor-not-allowed;
    }
  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-opacity-90;
  }
  .btn-danger {
    @apply text-white bg-red-700 hover:bg-opacity-90;
  }
  .form-group {
    @apply flex flex-col gap-1 mb-5;
  }

  .form-control {
    @apply h-10 rounded-md px-4 text-gray-700  focus-within:ring-0 focus-within:outline-none focus:ring-0 focus:outline-none;
  }
  .form-label {
    @apply cursor-pointer text-gray-700;
  }
  .feedback-error {
    @apply text-red-600 mt-1 text-sm;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
